* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

footer {
  background-color: #4a5841;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem; }

.footer-links {
  color: #afaa90;
  list-style: none; }

input[type="text"] {
  background-color: #9f9a7e; }

body {
  width: 100%;
  height: 100%; }

nav {
  display: flex;
  align-items: center;
  justify-content: center; }

h1 {
  display: flex; }

h1 a {
  text-decoration: none;
  color: inherit; }

header nav ul h1 {
  padding: 0.5rem 1rem; }

nav h1 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0rem 2rem;
  align-items: center; }

.header-navbar {
  background-color: #4a5841;
  list-style: none;
  color: #afaa90;
  padding: 0.6rem 0rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 200; }

.navbar-link {
  color: #afaa90;
  text-decoration: none;
  padding: 3rem;
  font-size: 1.4rem; }

.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding-top: 1rem; }

.dropdown-menu .navbar-link {
  padding: 0 1rem; }

.menu-icon {
  font-size: 2rem;
  display: none; }

.logo-img {
  width: 2.6rem;
  height: 3.5rem; }

.bloomLink {
  color: #afaa90; }

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Arsenal"; }

.title {
  color: #4a5841;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 9rem;
  line-height: 4.2rem; }

/*section-1*/
main {
  height: 100%;
  width: 100%;
  overflow: overlay; }

.main-picture {
  background-image: url("../assets/images/three-plants-1.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.title {
  color: #44523c;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 7rem;
  line-height: 3rem; }

/*section-2*/
.section-2 {
  background-color: #9f9a7e;
  width: 100%;
  color: #44523c; }

.section-2 h1 {
  color: #44523c; }

.pic-mix-2-padding {
  padding-right: 10rem !important; }

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48; }

.btn-color {
  background-color: #4a5841;
  color: #afaa90; }

.btn-color:hover {
  background-color: #56684b;
  color: #afaa90; }

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover; }

.grid-img-plants {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  padding: 1rem 3rem;
  gap: 0.5rem; }

.grid-img-element {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*main section2 grid*/
.grid-section-2 {
  width: 100%;
  padding: 1rem 4rem; }

.grid-section-2-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*cards section2*/
.cards-section-2 {
  display: flex;
  gap: 2rem;
  justify-content: center; }

@media only screen and (max-width: 320px) {
  .grid-img-plants {
    grid-template-columns: 1fr; }
  .navbar-menu {
    display: block !important; }
  .navbar-links {
    display: none; }
  .menu-icon {
    font-size: 2rem;
    display: block; }
  footer {
    flex-direction: column;
    font-size: 1rem;
    justify-content: center; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .navbar-menu {
    display: block !important; }
  .navbar-links {
    display: none; }
  .menu-icon {
    font-size: 2rem;
    display: block; }
  footer {
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center; }
  .title {
    font-size: 1.5rem;
    line-height: 1.5rem; } }

.card-color {
  background-color: #4a5841;
  color: #afaa90; }

/*contact form*/
input[type="text"] {
  background-color: #afaa90; }

input[type="email"] {
  background-color: #afaa90; }

textarea[type="text"] {
  background-color: #afaa90; }

.btn-background {
  background-color: pink; }

.button-color {
  color: #afaa90 !important; }

.main-picture-care {
  background-image: url("/assets/images/plant-care.jpg");
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.accordion-btn {
  background-color: #4a5841 !important;
  color: #afaa90 !important; }

/*main plants*/
.main-plant {
  background-color: #afaa90;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
