/*contact form*/
input[type="text"] {
  background-color: $background-color-beige;
}

input[type="email"] {
  background-color: $background-color-beige;
}

textarea[type="text"] {
  background-color: $background-color-beige;
}

.btn-background {
  background-color: pink;
}

.button-color {
  color: $font-color-beige !important;
}
