.main-picture-care {
  background-image: url("/assets/images/plant-care.jpg");
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-btn {
  background-color: $background-color-green !important;
  color: $font-color-beige !important;
}
