/*section-1*/
main {
  height: 100%;
  width: 100%;
}

.header-navbar {
  background-color: #4a5841;
  list-style: none;
  color: #afaa90;
  padding: 0.35rem 0rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-picture {
  background-image: url("../assets/images/three-plants-1.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  color: #4a5841;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 7rem;
  line-height: 3rem;
}

.section-2 {
  background-color: rgb(159, 154, 126);
  width: 100%;
}

/*section-2*/

.section-2 {
  padding: 2rem 2.5rem;
  color: $font-color-green;
}

.section-2 h1 {
  color: #44523c;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
