body {
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

header nav ul h1 {
  padding: 0.5rem 1rem;
}

nav h1 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0rem 2rem;
  align-items: center;
}

.header-navbar {
  // background-color: #4a5841;
  background-color: $background-color-green;
  list-style: none;
  color: rgb(175, 170, 144);
  padding: 0.6rem 0rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-link {
  color: rgb(175, 170, 144);
  text-decoration: none;
  padding: 3rem;
  font-size: 1.4rem;
}

// .navbar-links {
//   display: flex;
//   align-items: center;
//   list-style: none;
// }

.navbar-links {
  @include flex(center, none);
  padding-top: 1rem;
}

.dropdown-menu .navbar-link {
  padding: 0 1rem;
}

.menu-icon {
  font-size: 2rem;
  display: none;
}

.logo-img {
  width: 2.6rem;
  height: 3.5rem;
}
